.App {
  position: relative;
  text-align: center;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  flex-shrink: 1;
  width: fit-content;
  margin-bottom: 2em;
  border: 1px solid;
  padding: .5em;
}

.product-item:hover {
  cursor: pointer;
  background: #bddec7;
}

.cart-container {
  border-top: 1px solid;
}

.cart-item {
  margin-bottom: 2em;
}

.item-info > span {
  margin: auto .6em;
}

.button {
  padding: .4em;
  margin: .2em;
}

.button:hover {
  cursor: pointer;
}

.add {
  background: green;
}

.remove {
  background: yellow;
}

.remove-all {
  background: red;
}

.empty-cart-modal-container {
  position: absolute;
  top: -10vh;
  height: 110vh;
  width: 100%;
  background: rgba(100, 100, 100, .85);
}

.empty-cart-modal {
  padding: 1.5em;
  margin: 7em auto;
  background: white;
  width: fit-content;
}

button {
  padding: .5em;
  font-size: 1em;
}

